body{
	font-family: "Chalkboard SE Regular", "Bradley Hand Bold", Helvetica; 
	font-size: 25px;
	width:100%;
	background-image: url('achtergrond.jpg');
}




#hoofdmenu{ 
	list-style-type:none;
	 width:300px; height:200px; position:absolute; left:50%; top:50%; margin:-100px 0 0 -150px;
} 

#main-container {
	margin-top: 150px;
	text-align: center;
}

#terug{
	position:absolute;
	bottom: 50px;
	}

.ui-page { -webkit-backface-visibility: hidden; }

a:link, a:visited {
	font-weight: normal;
	text-transform: uppercase;
	color: #136B5B;
	text-decoration: none;
}

a:hover, a:active {
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

#hoofdmenu input {
	background: #fff;
	border: 1px solid #000;
}
